Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/monitoring/test/ab/Dockerfile to reduce vulnerabilities
  kubernetes/monitoring/test/ab/Dockerfile
Labels: kubernetes

fix: kubernetes/postgres/Dockerfile to reduce vulnerabilities
  kubernetes/postgres/Dockerfile
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: application/jaxrs-hazelcast-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-hazelcast-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-hazelcast-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-hazelcast-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/monitoring/test/cypress/package.json & kubernetes/monitoring/test/cypress/package-lock.json to reduce vulnerabilities
  kubernetes/monitoring/test/cypress/package-lock.json
  kubernetes/monitoring/test/cypress/package.json
Labels: kubernetes

fix: application/jaxrs-hazelcast-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-hazelcast-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-hazelcast-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-hazelcast-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/postgres/Dockerfile to reduce vulnerabilities
  kubernetes/postgres/Dockerfile
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/mysql/Dockerfile to reduce vulnerabilities
  kubernetes/mysql/Dockerfile
Labels: kubernetes

fix: kubernetes/monitoring/test/ab/Dockerfile to reduce vulnerabilities
  kubernetes/monitoring/test/ab/Dockerfile
Labels: kubernetes

fix: kubernetes/monitoring/test/ab/Dockerfile to reduce vulnerabilities
  kubernetes/monitoring/test/ab/Dockerfile
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/mysql/Dockerfile to reduce vulnerabilities
  kubernetes/mysql/Dockerfile
Labels: kubernetes

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/rabbitmq/Dockerfile to reduce vulnerabilities
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

fix: kubernetes/rabbitmq/Dockerfile to reduce vulnerabilities
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

fix: kubernetes/monitoring/test/cypress/package.json & kubernetes/monitoring/test/cypress/package-lock.json to reduce vulnerabilities
  kubernetes/monitoring/test/cypress/package-lock.json
  kubernetes/monitoring/test/cypress/package.json
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/postgres/Dockerfile to reduce vulnerabilities
  kubernetes/postgres/Dockerfile
Labels: kubernetes

delete codiga
  README.md
Labels: docs

fix add to project github actions
  .github/workflows/issue_opened.yml
Labels: cicd, github-action

check-for-update-chaos-mesh automated change
  .github/workflows/kind-chaos-mesh-ci.yml
  README.md
Labels: cicd, docs, github-action

fix version
  .github/workflows/issue_opened.yml
Labels: cicd, github-action
