Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

add sysdig scanning tool #3020
  .github/workflows/sysdig-scan.yml
Labels: cicd, github-action

add devskim scanning tool #3020
  .github/workflows/devskim.yml
Labels: cicd, github-action

add synk scanning tool #3020
  .github/workflows/snyk-infrastructure.yml
Labels: cicd, github-action

add kubesec scanning tool #3020
  .github/workflows/kubesec.yml
Labels: cicd, github-action

Update README.md
  README.md
Labels: docs

delete schedule, change name #3020
  .github/workflows/codacy.yml
  .github/workflows/devskim.yml
  .github/workflows/snyk-infrastructure.yml
  .github/workflows/sysdig-scan.yml
Labels: cicd, github-action

change name #3020
  .github/workflows/codacy.yml
  README.md
Labels: cicd, docs, github-action

change mvn goal package to verify #3021
  .github/workflows/java-ci.yml
Labels: cicd, github-action

formattter #3020
  .github/workflows/kubesec.yml
Labels: cicd, github-action

add trigger pr for pmd #3020
  .github/workflows/pmd.yml
Labels: cicd, github-action

uninstall sysdig #3020
  .github/workflows/sysdig-scan.yml
  README.md
Labels: cicd, docs, github-action

setup synk security scan for maven, iac, and Dockerfile #3020
  .github/workflows/docker-image-ci.yml
  .github/workflows/snyk-infrastructure.yml
Labels: cicd, github-action

add args for upload to github code scanning #3020
  .github/workflows/docker-image-ci.yml
  .github/workflows/snyk-infrastructure.yml
Labels: cicd, github-action

setup kubesec #3020
  .github/workflows/kubesec.yml
Labels: cicd, github-action

add permission #3020
  .github/workflows/snyk-infrastructure.yml
Labels: cicd, github-action

change args #3020
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

set template for kubesec #3020
  .github/workflows/kubesec.yml
Labels: cicd, github-action

delete kubesec #3020
  .github/workflows/kubesec.yml
  README.md
Labels: cicd, docs, github-action

fix Dockerfile path #3020
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

fix Dockerfile path #3020
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

upload sarif file at once #3020
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

set the path of sarif files #3020
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

check-for-update-quarkus automated change
  README.md
Labels: docs

add native image test #3025
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceIT.java
  application/converter-kafka-quarkus/src/test/java/webapp/tier/service/KafkaConverterIT.java
  application/jaxrs-grpc-quarkus/src/test/java/webapp/tier/resource/GrpcResourceIT.java
  application/jaxrs-kafka-quarkus/src/test/java/webapp/tier/resource/KafkaResourceIT.java
  application/producer-kafka-quarkus/src/test/java/webapp/tier/service/generator/MessageGeneratorIT.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceIT.java
  application/randompublish-quarkus/src/test/java/webapp/tier/service/RandomServiceIT.java
  application/scheduled-quarkus/src/test/java/webapp/tier/schedule/CallRandomPublshScheduleIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/IdServiceIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/MsgServiceIT.java
Labels: java

add fail fast for build java applications #3025
  .github/workflows/java-ci.yml
Labels: cicd, github-action

fix: kubernetes/postgres/Dockerfile to reduce vulnerabilities
  kubernetes/postgres/Dockerfile
Labels: kubernetes

change base image from oracle to debian #3036
  kubernetes/mysql/Dockerfile
Labels: kubernetes

espace @Inject is not supported in @NativeImageTest and @QuarkusIntegrationTest tests #3025
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeBase.java
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceTest.java
Labels: java

Revert "change base image from oracle to debian #3036"
  kubernetes/mysql/Dockerfile
Labels: kubernetes

use InjectMock #3025
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceIT.java
Labels: java

avoid use @Inject in base class #3025
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeBase.java
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceTest.java
Labels: java

change the inheritance structure #3025
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceIT.java
Labels: java

delete @InjectMock #3025
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceIT.java
Labels: java

delete direct test case #3025
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeBase.java
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceIT.java
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceTest.java
Labels: java

avoid use @ConfigProperty #3025
  application/converter-kafka-quarkus/src/test/java/webapp/tier/service/KafkaConverterTest.java
Labels: java

delete IT cases #3025
  application/scheduled-quarkus/src/test/java/webapp/tier/schedule/CallRandomPublshScheduleIT.java
Labels: java

avoid use @ConfigProperty #3025
  application/jaxrs-kafka-quarkus/src/test/java/webapp/tier/resource/KafkaResourceTest.java
Labels: java

fix error test for QuarkusIntegrationTest #3025
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceErrorTest.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceIT.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceTest.java
  application/randompublish-quarkus/src/test/java/webapp/tier/service/RandomServiceIT.java
Labels: java

add param -Dquarkus-profile=test #3025
  .github/workflows/java-ci.yml
Labels: cicd, github-action

avoid use @ConfigProperty #3025
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/MsgServiceTest.java
Labels: java

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*
