Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*

refactoring #3049
  application/jaxrs-redis-quarkus/src/main/java/webapp/tier/service/RedisService.java
Labels: java

refactor test case #3049
  application/converter-rabbitmq-quarkus/src/test/java/webapp/tier/service/RabbitmqConverterTest.java
Labels: java

refactoring by codebeat #3049
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqService.java
Labels: java

Assignment Branch Condition too high by codebeat #3049
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/service/MysqlService.java
Labels: java

Revert " Assignment Branch Condition too high by codebeat #3049"
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/service/MysqlService.java
Labels: java

Assignment Branch Condition too high by codebeat #3049
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/service/MysqlService.java
Labels: java

Assignment Branch Condition too high by codebeat #3049
  application/jaxrs-postgres-quarkus/src/main/java/webapp/tier/service/PostgresService.java
Labels: java

ClassWithOnlyPrivateConstructorsShouldBeFinal by codiga #3050
  application/jaxrs-hazelcast-quarkus/src/main/java/webapp/tier/service/HazelcastService.java
  application/webapp-service/src/main/java/webapp/tier/healthcheck/HealthCheckUtils.java
Labels: java

fix UncommentedEmptyConstructor by codiga #3050
  application/jaxrs-cassandra-quarkus/src/main/java/webapp/tier/entity/Msg.java
Labels: java

delete inject by codiga #3050
  application/scheduled-quarkus/src/test/java/webapp/tier/schedule/CallRandomPublshScheduleTest.java
Labels: java

fix ClassWithOnlyPrivateConstructorsShouldBeFinal by codiga #3050
  application/webapp-service/src/main/java/webapp/tier/util/MsgUtils.java
Labels: java

fix UncommentedEmptyConstructor #3050
  application/webapp-service/src/main/java/webapp/tier/bean/MsgBean.java
Labels: java

delete private in inject by codiga #3050
  application/jaxrs-mongodb-quarkus/src/test/java/webapp/tier/service/MongodbServiceTest.java
  application/randompublish-quarkus/src/test/java/webapp/tier/service/RandomServiceTest.java
Labels: java

fix container as a non-root user #3049
  kubernetes/cassandra/Dockerfile
  kubernetes/mongodb/Dockerfile
  kubernetes/monitoring/test/postmannewman/quarkus/Dockerfile
  kubernetes/mysql/Dockerfile
  kubernetes/nginx/Dockerfile
  kubernetes/nginx/default.conf
  kubernetes/nginx/nginx-deployment.yaml
  kubernetes/nginx/nginx-service.yaml
  kubernetes/postgres/Dockerfile
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

Unnecessary use of fully qualified name 'Mockito.mock' #3049
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/socket/ActiveMqSocketTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/healthcheck/ReadinessHealthCheckHazelcastTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/HazelcastCacheServiceTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/HazelcastMqServiceTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/socket/HazelcastSocketTest.java
  application/jaxrs-memcached-quarkus/src/test/java/webapp/tier/resource/MemcachedResourceTest.java
  application/jaxrs-memcached-quarkus/src/test/java/webapp/tier/service/MemcachedServiceTest.java
  application/jaxrs-mongodb-quarkus/src/test/java/webapp/tier/service/MongodbServiceTest.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/service/socket/RabbitmqSocketTest.java
  application/webapp-service/src/test/java/webapp/tier/service/socket/ServiceSocketTest.java
Labels: java

fix UncommentedEmptyConstructor by codiga #3050
  application/jaxrs-cassandra-quarkus/src/main/java/webapp/tier/entity/Msg.java
  application/webapp-service/src/main/java/webapp/tier/bean/MsgBean.java
Labels: java

Unnecessary use of fully qualified name 'Mockito.when' #3049
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/socket/ActiveMqSocketTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/healthcheck/ReadinessHealthCheckHazelcastTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/socket/HazelcastSocketTest.java
  application/jaxrs-memcached-quarkus/src/test/java/webapp/tier/service/MemcachedServiceTest.java
  application/jaxrs-mongodb-quarkus/src/test/java/webapp/tier/service/MongodbServiceTest.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/service/socket/RabbitmqSocketTest.java
  application/webapp-service/src/test/java/webapp/tier/service/socket/ServiceSocketTest.java
Labels: java

fix Anonymous classes should not contain unused non-overridden methods #3049
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/healthcheck/ReadinessHealthCheckHazelcastTest.java
Labels: java

delete Unused import - org.mockito.Mockito. #3049
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/socket/ActiveMqSocketTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/socket/HazelcastSocketTest.java
  application/jaxrs-memcached-quarkus/src/test/java/webapp/tier/service/MemcachedServiceTest.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/service/socket/RabbitmqSocketTest.java
  application/webapp-service/src/test/java/webapp/tier/service/socket/ServiceSocketTest.java
Labels: java

Invoke method(s) only conditionally by sonarcloud #3049
  application/scheduled-quarkus/src/main/java/webapp/tier/schedule/CallRandomPublshSchedule.java
  application/scheduled-quarkus/src/test/java/webapp/tier/schedule/CallRandomPublshScheduleTest.java
Labels: java

add %test.quarkus.jaeger.enabled=false #3049
  application/consumer-activemq-quarkus/src/main/resources/application.properties
  application/consumer-hazelcast-quarkus/src/main/resources/application.properties
  application/consumer-kafka-quarkus/src/main/resources/application.properties
  application/consumer-rabbitmq-quarkus/src/main/resources/application.properties
  application/consumer-redis-quarkus/src/main/resources/application.properties
  application/converter-kafka-quarkus/src/main/resources/application.properties
  application/converter-rabbitmq-quarkus/src/main/resources/application.properties
  application/jaxrs-activemq-quarkus/src/main/resources/application.properties
  application/jaxrs-cassandra-quarkus/src/main/resources/application.properties
  application/jaxrs-grpc-quarkus/src/main/resources/application.properties
  application/jaxrs-hazelcast-quarkus/src/main/resources/application.properties
  application/jaxrs-kafka-quarkus/src/main/resources/application.properties
  application/jaxrs-memcached-quarkus/src/main/resources/application.properties
  application/jaxrs-mongodb-quarkus/src/main/resources/application.properties
  application/jaxrs-mysql-quarkus/src/main/resources/application.properties
  application/jaxrs-postgres-quarkus/src/main/resources/application.properties
  application/jaxrs-rabbitmq-quarkus/src/main/resources/application.properties
  application/jaxrs-redis-quarkus/src/main/resources/application.properties
  application/producer-kafka-quarkus/src/main/resources/application.properties
  application/randompublish-quarkus/src/main/resources/application.properties
  application/server-grpc-quarkus/src/main/resources/application.properties
Labels: java

add %test.quarkus.jaeger.enabled=false #3049
  application/scheduled-quarkus/src/main/resources/application.properties
Labels: java

change severity-threshold to critical
  .github/workflows/snyk-infrastructure.yml
Labels: cicd, github-action

check-for-update-quarkus automated change
  README.md
Labels: docs

change alert level for snyk container #3020
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

comment out jacoco-check coverage
  application/parent-pom/pom.xml
Labels: java

add QuarkusIntegrationTest cases
  application/randompublish-quarkus/src/test/java/webapp/tier/service/RandomServiceIT.java
  application/scheduled-quarkus/src/test/java/webapp/tier/schedule/CallRandomPublshScheduleIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/IdServiceIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/MsgServiceIT.java
Labels: java

Revert "add QuarkusIntegrationTest cases"
  application/randompublish-quarkus/src/test/java/webapp/tier/service/RandomServiceIT.java
  application/scheduled-quarkus/src/test/java/webapp/tier/schedule/CallRandomPublshScheduleIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/IdServiceIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/MsgServiceIT.java
Labels: java

delete run Snyk docker action #3049
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

fix: kubernetes/rabbitmq/Dockerfile to reduce vulnerabilities
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

doesn't match '^Test.*$|^[A-Z][a-zA-Z0-9]*Test(s|Case)?$'
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceITest.java
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/socket/ActiveMqSocketForQuarkusTest.java
  application/jaxrs-grpc-quarkus/src/test/java/webapp/tier/resource/GrpcResourceITest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/socket/HazelcastSocketForQuarkusTest.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/service/socket/RabbitmqSocketForQuarkusTest.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceITest.java
Labels: java

Revert "doesn't match '^Test.*$|^[A-Z][a-zA-Z0-9]*Test(s|Case)?$'"
  application/consumer-kafka-quarkus/src/test/java/webapp/tier/service/KafkaSubscribeServiceIT.java
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/socket/ActiveMqSocketTestForQuarkus.java
  application/jaxrs-grpc-quarkus/src/test/java/webapp/tier/resource/GrpcResourceIT.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/socket/HazelcastSocketTestForQuarkus.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/service/socket/RabbitmqSocketTestForQuarkus.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceIT.java
Labels: java

doesn't match '^Test.*$|^[A-Z][a-zA-Z0-9]*Test(s|Case)?$'
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/socket/ActiveMqSocketForQuarkusTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/socket/HazelcastSocketForQuarkusTest.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/service/socket/RabbitmqSocketForQuarkusTest.java
Labels: java

check-for-update-minikube automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

fix PMD MissingOverride (Priority: 3):The method 'run()' is missing an @Override annotation.
  application/consumer-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqSubscribeService.java
Labels: java

fix PMD Avoid unused local variables such as 'con'.
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/service/MysqlService.java
  application/jaxrs-postgres-quarkus/src/main/java/webapp/tier/service/PostgresService.java
Labels: java

fix deepsource JUnit5 test classes and methods should be package-private
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/socket/ActiveMqSocketForQuarkusTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/service/socket/HazelcastSocketForQuarkusTest.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/service/socket/RabbitmqSocketForQuarkusTest.java
Labels: java

revert Merge pull request #3105 from yurake/actions/check-for-update-quarkus
  README.md
Labels: docs

check-for-update-quarkus automated change
  README.md
Labels: docs

check-for-update-quarkus automated change
  README.md
Labels: docs
