Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

check-for-update-minikube automated change
  README.md
Labels: docs

fix: import error
  application/parent-pom/pom.xml
Labels: java

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

fix: migrate opentracing-jdbc to opentelemetry-jdbc
  application/jaxrs-mysql-quarkus/pom.xml
  application/jaxrs-postgres-quarkus/pom.xml
Labels: java, quarkus

fix: enable opentelemetry
  application/jaxrs-mysql-quarkus/src/main/resources/application.properties
  application/jaxrs-postgres-quarkus/src/main/resources/application.properties
Labels: java

fix: migrate opentracing to opentelemetry
  application/jaxrs-mongodb-quarkus/pom.xml
  application/jaxrs-mongodb-quarkus/src/main/resources/application.properties
Labels: java, quarkus

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

fix: update cassandra version
  application/jaxrs-cassandra-quarkus/pom.xml
Labels: java, quarkus

fix: delete temp fix
  application/consumer-activemq-quarkus/pom.xml
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: typo
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: migrate quarkus-smallrye-reactive-messaging-rabbitmq to quarkus-messaging-rabbitmq
  application/jaxrs-rabbitmq-quarkus/pom.xml
Labels: java, quarkus

fix: migrate to quarkus-messaging-rabbitmq
  application/consumer-rabbitmq-quarkus/pom.xml
  application/converter-rabbitmq-quarkus/pom.xml
Labels: java, quarkus

Update settings.json
  .vscode/settings.json
Labels: none

fix: migrate quarkus-rest-client to quarkus-rest-client-jackson
  application/consumer-activemq-quarkus/pom.xml
  application/consumer-activemq-quarkus/src/test/java/webapp/tier/service/ActiveMqSubscribeServiceErrorTest.java
  application/consumer-activemq-quarkus/src/test/java/webapp/tier/service/ActiveMqSubscribeServiceTest.java
  application/consumer-hazelcast-quarkus/pom.xml
  application/consumer-kafka-quarkus/pom.xml
  application/consumer-rabbitmq-quarkus/pom.xml
  application/consumer-redis-quarkus/pom.xml
  application/converter-rabbitmq-quarkus/pom.xml
  application/jaxrs-kafka-quarkus/pom.xml
  application/randompublish-quarkus/pom.xml
Labels: java, quarkus

fix: migrate to quarkus-messaging-kafka
  application/consumer-kafka-quarkus/pom.xml
  application/converter-kafka-quarkus/pom.xml
  application/jaxrs-kafka-quarkus/pom.xml
  application/producer-kafka-quarkus/pom.xml
Labels: java, quarkus

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-kubernetes automated change
  README.md
Labels: docs

revert
  README.md
Labels: docs

revert
  README.md
Labels: docs

revert
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
Labels: cicd, github-action

check-for-update-minikube automated change
  README.md
Labels: docs

check-for-update-kubernetes automated change
  README.md
Labels: docs

Update settings.json
  .vscode/settings.json
Labels: none

fix: return type error
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/resource/ActiveMqResource.java
  application/jaxrs-cassandra-quarkus/src/main/java/webapp/tier/resource/CassandraResource.java
  application/jaxrs-memcached-quarkus/src/main/java/webapp/tier/resource/MemcachedResource.java
  application/jaxrs-mongodb-quarkus/src/main/java/webapp/tier/resource/MongodbResource.java
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/resource/MysqlResource.java
  application/jaxrs-mysql-quarkus/src/main/resources/application.properties
  application/jaxrs-postgres-quarkus/src/main/java/webapp/tier/resource/PostgresResource.java
  application/jaxrs-postgres-quarkus/src/main/resources/application.properties
  application/jaxrs-rabbitmq-quarkus/src/main/java/webapp/tier/resource/RabbitmqResource.java
  application/jaxrs-redis-quarkus/src/main/java/webapp/tier/resource/RedisResource.java
Labels: java

revert
  README.md
Labels: docs

check-for-update-kubernetes automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

fix: test error
  application/jaxrs-cassandra-quarkus/src/main/java/webapp/tier/resource/CassandraResource.java
  application/jaxrs-cassandra-quarkus/src/test/java/webapp/tier/resource/CassandraResourceTest.java
Labels: java

fix: test error
  application/jaxrs-redis-quarkus/src/test/java/webapp/tier/resource/RedisResourceErrorTest.java
  application/jaxrs-redis-quarkus/src/test/java/webapp/tier/resource/RedisResourceTest.java
Labels: java

check-for-update-kubernetes automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

check-for-update-minikube automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

Update renovate.json
  renovate.json
Labels: none

fix: Migrating Secrets from Repo Config to App Settings
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

config.js
  config.js
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

Delete config.js
  config.js
Labels: none

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*
