Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

Update renovate.json
  config.js
  renovate.json
Labels: none

Revert "Delete config.js"
  config.js
Labels: none

Update renovate.json
  renovate.json
Labels: none

Delete config.js
  config.js
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

Revert "Update renovate.json"
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

fix: kubernetes/monitoring/test/cypress/package.json & kubernetes/monitoring/test/cypress/package-lock.json to reduce vulnerabilities
  kubernetes/monitoring/test/cypress/package-lock.json
  kubernetes/monitoring/test/cypress/package.json
Labels: kubernetes

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/monitoring/test/cypress/package.json & kubernetes/monitoring/test/cypress/package-lock.json to reduce vulnerabilities
  kubernetes/monitoring/test/cypress/package-lock.json
  kubernetes/monitoring/test/cypress/package.json
Labels: kubernetes

fix: kubernetes/postgres/Dockerfile to reduce vulnerabilities
  kubernetes/postgres/Dockerfile
Labels: kubernetes

fix: kubernetes/rabbitmq/Dockerfile to reduce vulnerabilities
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

fix: kubernetes/rabbitmq/Dockerfile to reduce vulnerabilities
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

check-for-update-minikube automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

fix: kubernetes/mysql/Dockerfile to reduce vulnerabilities
  kubernetes/mysql/Dockerfile
Labels: kubernetes

fix: kubernetes/rabbitmq/Dockerfile to reduce vulnerabilities
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/rabbitmq/Dockerfile to reduce vulnerabilities
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

fix: kubernetes/monitoring/test/cypress/package.json & kubernetes/monitoring/test/cypress/package-lock.json to reduce vulnerabilities
  kubernetes/monitoring/test/cypress/package-lock.json
  kubernetes/monitoring/test/cypress/package.json
Labels: kubernetes

fix: kubernetes/postgres/Dockerfile to reduce vulnerabilities
  kubernetes/postgres/Dockerfile
Labels: kubernetes

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

Revert "Merge pull request #4010 from yurake/renovate/prom-node-exporter-1.x"
  kubernetes/monitoring/node-exporter/node-exporter-daemonset.yaml
Labels: kubernetes

Revert "Merge pull request #4012 from yurake/renovate/rabbitmq-4.x"
  kubernetes/rabbitmq/Dockerfile
Labels: kubernetes

ci(pmd): exclude ImplicitFunctionalInterface rule
  .github/pmdrule.xml
Labels: cicd, github-action

ci(pmd): fix path filter to reference pmdrule.xml
  .github/workflows/pmd.yml
Labels: cicd, github-action

ci(codacy): disambiguate SARIF runs before upload
  .github/workflows/codacy.yml
Labels: cicd, github-action

ci(docker): merge Snyk SARIF files into a single run before upload
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

ci(chaos-mesh): update Chaos Mesh to 2.7.1
  .github/workflows/kind-chaos-mesh-ci.yml
  README.md
Labels: cicd, docs, github-action

docs(readme): remove codebeat badge (service shut down)
  README.md
Labels: docs

docs(readme): update Code Climate badge URL to qlty.sh
  README.md
Labels: docs

docs(readme): update DeepSource badge URLs to app.deepsource.com
  README.md
Labels: docs

docs(readme): remove non-functional Codacy coverage badge
  README.md
Labels: docs

ci: fix unmanaged GitHub Actions errors
  .github/workflows/check-for-update.yml
  .github/workflows/codeql.yml
  .github/workflows/issue_opened.yml
  .github/workflows/pr-opened.yml
Labels: cicd, github-action

ci(minikube): pin kubernetes-version to a minikube-supported release
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
Labels: cicd, github-action

check-for-update-quarkus automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

ci(cypress): fix EINTEGRITY for debug@3.2.7 in cypress lockfile
  kubernetes/monitoring/test/cypress/package-lock.json
Labels: kubernetes

fix(build): fix JaCoCo double instrumentation and 0% coverage
  application/parent-pom/pom.xml
Labels: java

chore(deps): update grafana to 13.0.2
  kubernetes/monitoring/grafana/grafana-deployment.yaml
Labels: kubernetes

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*
