Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*

change label pattern
  .github/pr-labeler.yml
Labels: cicd, github-action

check-for-update-chaos-mesh automated change
  .github/workflows/kind-chaos-mesh-ci.yml
  README.md
Labels: cicd, docs, github-action

check-for-update-quarkus automated change
  README.md
Labels: docs

fix compile error
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqConsumer.java
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqService.java
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/ActiveMqServiceTest.java
Labels: java

fix: upgrade com.hazelcast:hazelcast from 5.4.0 to 5.5.0
  application/consumer-hazelcast-quarkus/pom.xml
Labels: java, quarkus

fix: upgrade org.slf4j:slf4j-reload4j from 2.0.13 to 2.0.16
  application/jaxrs-hazelcast-quarkus/pom.xml
Labels: java, quarkus

check-for-update-chaos-mesh automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

check-for-update-kubernetes automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

fix: kubernetes/mysql/Dockerfile to reduce vulnerabilities
  kubernetes/mysql/Dockerfile
Labels: kubernetes

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/mysql/Dockerfile to reduce vulnerabilities
  kubernetes/mysql/Dockerfile
Labels: kubernetes

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

check-for-update-quarkus automated change
  README.md
Labels: docs

Update settings.json
  .vscode/settings.json
Labels: none

Update settings.json
  .vscode/settings.json
Labels: none

Update pom.xml
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

Update settings.json
  .vscode/settings.json
Labels: none

Update settings.json
  .vscode/settings.json
Labels: none

debug: delete permissions
  .github/workflows/devskim.yml
Labels: cicd, github-action

delete DevSkim
  .github/workflows/devskim.yml
  README.md
Labels: cicd, docs, github-action

check-for-update-chaos-mesh automated change
  .github/workflows/kind-chaos-mesh-ci.yml
  README.md
Labels: cicd, docs, github-action

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

fix 409 error for pmd github action
  .github/workflows/pmd.yml
Labels: cicd, github-action

fix: 409 error for pmd github action, change file name
  .github/workflows/pmd.yml
Labels: cicd, github-action

fix: 409 error for pmd github action
  .github/workflows/pmd.yml
Labels: cicd, github-action

fix: 409 error for pmd github action, disable parallel execution
  .github/workflows/pmd.yml
Labels: cicd, github-action

fix: 409 error for pmd github action, disable upload SARIF file
  .github/workflows/pmd.yml
Labels: cicd, github-action

update version of github/codeql-action/upload-sarif to v3
  .github/workflows/codacy.yml
  .github/workflows/devskim.yml
  .github/workflows/docker-image-ci.yml
  .github/workflows/snyk-infrastructure.yml
Labels: cicd, github-action

fix: compile error, but need to upgrade quarkus version to v3
  application/consumer-activemq-quarkus/pom.xml
  application/consumer-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqDeliverConsumer.java
  application/consumer-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqSubscribeService.java
  application/consumer-activemq-quarkus/src/test/java/webapp/tier/service/ActiveMqSubscribeServiceErrorTest.java
  application/consumer-activemq-quarkus/src/test/java/webapp/tier/service/ActiveMqSubscribeServiceTest.java
  application/jaxrs-activemq-quarkus/pom.xml
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqConsumer.java
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqService.java
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/service/ActiveMqServiceTest.java
Labels: java, quarkus

check-for-update-chaos-mesh automated change
  .github/workflows/kind-chaos-mesh-ci.yml
  README.md
Labels: cicd, docs, github-action

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

Update settings.json
  .vscode/settings.json
Labels: none

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

check-for-update-kubernetes automated change
  README.md
Labels: docs

set new version to 0.6.0-SNAPSHOT
  application/consumer-activemq-quarkus/pom.xml
  application/consumer-hazelcast-quarkus/pom.xml
  application/consumer-kafka-quarkus/pom.xml
  application/consumer-rabbitmq-quarkus/pom.xml
  application/consumer-redis-quarkus/pom.xml
  application/converter-kafka-quarkus/pom.xml
  application/converter-rabbitmq-quarkus/pom.xml
  application/jaxrs-activemq-quarkus/pom.xml
  application/jaxrs-cassandra-quarkus/pom.xml
  application/jaxrs-grpc-quarkus/pom.xml
  application/jaxrs-hazelcast-quarkus/pom.xml
  application/jaxrs-kafka-quarkus/pom.xml
  application/jaxrs-memcached-quarkus/pom.xml
  application/jaxrs-mongodb-quarkus/pom.xml
  application/jaxrs-mysql-quarkus/pom.xml
  application/jaxrs-postgres-quarkus/pom.xml
  application/jaxrs-rabbitmq-quarkus/pom.xml
  application/jaxrs-redis-quarkus/pom.xml
  application/parent-pom/pom.xml
  application/producer-kafka-quarkus/pom.xml
  application/randompublish-quarkus/pom.xml
  application/scheduled-quarkus/pom.xml
  application/server-grpc-quarkus/pom.xml
  application/webapp-service/pom.xml
Labels: java, quarkus
