Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*

edit path #2987
  .github/workflows/pmd.yml
Labels: cicd, github-action

exclude GuardLogStatement #2987
  .github/pmdrule.xml
Labels: cicd, github-action

add target for ci #2987
  .github/workflows/pmd.yml
Labels: cicd, github-action

delete quickstart.xml #2987
  .github/workflows/pmd.yml
Labels: cicd, github-action

add fail-fast: false #2987
  .github/workflows/pmd.yml
Labels: cicd, github-action

delete semgrep badge
  README.md
Labels: docs

fix labeler error #3004
  .github/issue-labeler.yml
  .github/pr-labeler.yml
  .github/workflows/issue-label.yml
  .github/workflows/pr-label.yml
Labels: cicd, github-action

delete label for pr #3004
  .github/workflows/issue-label.yml
Labels: cicd, github-action

fix scope of codeql gtihub action
  .github/workflows/codeql.yml
Labels: cicd, github-action

ix scope of cypress gtihub action
  .github/workflows/cypress-ci.yml
Labels: cicd, github-action

scope of title #3004
  .github/workflows/issue-label.yml
Labels: cicd, github-action

change version setting #3006
  README.md
Labels: docs

update README automatically #3006
  .github/workflows/check-for-update.yml
Labels: cicd, github-action

add label
  .github/issue-labeler.yml
Labels: cicd, github-action

delete trigger of pr #3006
  .github/workflows/check-for-update.yml
Labels: cicd, github-action

Update README.md
  README.md
Labels: docs

fix scope of github action
  .github/workflows/k8s-security-config-watch.yml
Labels: cicd, github-action

Update issue-labeler.yml
  .github/issue-labeler.yml
Labels: cicd, github-action

check-for-update-kubernetes automated change
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

fix typo #3008
  .github/workflows/check-for-update.yml
Labels: cicd, github-action

check-for-update-chaos-mesh automated change
  README.md
Labels: docs

fix path #3008
  .github/workflows/check-for-update.yml
Labels: cicd, github-action

fix typo #3008
  .github/workflows/check-for-update.yml
Labels: cicd, github-action

check-for-update-quarkus automated change
  README.md
Labels: docs

Update issue-labeler.yml
  .github/issue-labeler.yml
Labels: cicd, github-action

Update issue-labeler.yml
  .github/issue-labeler.yml
Labels: cicd, github-action

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

check-for-update-kubernetes automated change
  README.md
Labels: docs

fix The initializer for variable is never used #3016
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/service/ActiveMqService.java
  application/jaxrs-hazelcast-quarkus/src/main/java/webapp/tier/service/HazelcastCacheService.java
  application/jaxrs-memcached-quarkus/src/main/java/webapp/tier/service/MemcachedService.java
Labels: java

New exception is thrown in catch block, original stack trace may be lost #3016
  application/jaxrs-memcached-quarkus/src/main/java/webapp/tier/service/MemcachedService.java
Labels: java

Avoid printStackTrace() #3016
  application/jaxrs-hazelcast-quarkus/src/main/java/webapp/tier/service/HazelcastMqService.java
  application/jaxrs-hazelcast-quarkus/src/main/java/webapp/tier/service/HazelcastServiceStatus.java
Labels: java

New exception is thrown in catch block, original stack trace may be lost #3016
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/service/MysqlService.java
  application/jaxrs-postgres-quarkus/src/main/java/webapp/tier/service/PostgresService.java
Labels: java

Information exposure through a stack trace #3016
  application/jaxrs-redis-quarkus/src/main/java/webapp/tier/resource/RedisResource.java
Labels: java

Update issue-labeler.yml
  .github/issue-labeler.yml
Labels: cicd, github-action

Avoid printStackTrace() #3016
  application/jaxrs-hazelcast-quarkus/src/main/java/webapp/tier/service/HazelcastMqService.java
Labels: java

The initializer for variable is never used #3016
  application/jaxrs-memcached-quarkus/src/main/java/webapp/tier/service/MemcachedService.java
  application/jaxrs-memcached-quarkus/src/test/java/webapp/tier/resource/MemcachedResourceErrorTest.java
Labels: java

add codacy scanning tool #3020
  .github/workflows/codacy.yml
Labels: cicd, github-action
