Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

ci(cypress): migrate cypress.json to cypress.config.js
  kubernetes/monitoring/test/cypress/cypress.config.js
  kubernetes/monitoring/test/cypress/cypress.json
Labels: kubernetes

ci(java): migrate to official graalvm/setup-graalvm with current JDK 17
  .github/workflows/java-ci.yml
Labels: cicd, github-action

ci(java): use sonar.token instead of deprecated sonar.login
  .github/workflows/java-ci.yml
Labels: cicd, github-action

docs(readme): update Code Climate badge URL to qlty.sh
  README.md
Labels: docs

ci(java): remove advanced CodeQL steps conflicting with default setup
  .github/workflows/java-ci.yml
  README.md
Labels: cicd, docs, github-action

fix(test): use io.quarkus.test.InjectMock (package moved in Quarkus 3)
  application/jaxrs-activemq-quarkus/src/test/java/webapp/tier/resource/ActivemqResourceErrorTest.java
  application/jaxrs-cassandra-quarkus/src/test/java/webapp/tier/resource/CassandraResourceErrorTest.java
  application/jaxrs-cassandra-quarkus/src/test/java/webapp/tier/service/CassandraServiceErrorTest.java
  application/jaxrs-hazelcast-quarkus/src/test/java/webapp/tier/resource/HazelcastResourceTest.java
  application/jaxrs-memcached-quarkus/src/test/java/webapp/tier/resource/MemcachedResourceErrorTest.java
  application/jaxrs-memcached-quarkus/src/test/java/webapp/tier/resource/MemcachedResourceTest.java
  application/jaxrs-mongodb-quarkus/src/test/java/webapp/tier/resource/MongodbResourceTest.java
  application/jaxrs-rabbitmq-quarkus/src/test/java/webapp/tier/resource/RabbitmqResourceErrorTest.java
  application/jaxrs-redis-quarkus/src/test/java/webapp/tier/resource/RedisResourceErrorTest.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceErrorTest.java
Labels: java

fix(ci): correct kubernetes-version to k8s 1.35.1 supported by minikube 1.38.1
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
Labels: cicd, github-action

check-for-update-quarkus automated change
  README.md
Labels: docs

fix(build): fix JaCoCo double instrumentation and 0% coverage
  application/parent-pom/pom.xml
Labels: java

fix(cassandra): use org.apache.cassandra java-driver coordinates
  application/jaxrs-cassandra-quarkus/pom.xml
Labels: java, quarkus

fix(build): drop broken integration-tests surefire execution
  application/parent-pom/pom.xml
Labels: java

fix(mysql,postgres): bind default persistence unit to named datasource
  application/jaxrs-mysql-quarkus/src/main/resources/application.properties
  application/jaxrs-postgres-quarkus/src/main/resources/application.properties
Labels: java

fix(metrics): migrate from SmallRye Metrics to Micrometer
  application/jaxrs-activemq-quarkus/src/main/java/webapp/tier/resource/ActiveMqResource.java
  application/jaxrs-cassandra-quarkus/src/main/java/webapp/tier/resource/CassandraResource.java
  application/jaxrs-hazelcast-quarkus/src/main/java/webapp/tier/resource/HazelcastResource.java
  application/jaxrs-memcached-quarkus/src/main/java/webapp/tier/resource/MemcachedResource.java
  application/jaxrs-mongodb-quarkus/src/main/java/webapp/tier/resource/MongodbResource.java
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/resource/MysqlResource.java
  application/jaxrs-postgres-quarkus/src/main/java/webapp/tier/resource/PostgresResource.java
  application/jaxrs-rabbitmq-quarkus/src/main/java/webapp/tier/resource/RabbitmqResource.java
  application/parent-pom/pom.xml
  application/randompublish-quarkus/src/main/java/webapp/tier/resource/RandomResource.java
Labels: java

fix(ci): repair mysql-exporter config for mysqld-exporter v0.19.0
  .github/workflows/kind-quarkus-ci.yml
  .github/workflows/minikube-quarkus-ci.yml
  kubernetes/mysql/mysql-deployment.yaml
  kubernetes/mysql/mysql-secret.yaml
Labels: cicd, github-action, kubernetes

fix(ci): correct docker image push condition in docker-image-ci
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

fix(redis): eagerly init RedisService to stop testGet deadlock
  application/jaxrs-redis-quarkus/src/main/java/webapp/tier/service/RedisService.java
  application/jaxrs-redis-quarkus/src/test/java/webapp/tier/resource/RedisResourceTest.java
Labels: java

ci(quarkus): add pod diagnostics for all DB components
  .github/workflows/kind-quarkus-ci.yml
  .github/workflows/minikube-quarkus-ci.yml
Labels: cicd, github-action

chore(ci): remove unused Shell Validator workflow
  .github/workflows/shell-validator.yml
  README.md
Labels: cicd, docs, github-action

fix(nginx): make pid path rewrite robust to /run vs /var/run
  kubernetes/nginx/Dockerfile
Labels: kubernetes

GitBook: Update content
  .gitbook/assets/CredentialsAfter.png
  .gitbook/assets/CredentialsBefore.png
  .gitbook/assets/CredentialsDetail.png
  .gitbook/assets/LayardArchitecturalOverview.png
  .gitbook/assets/ab.png
  .gitbook/assets/consumer-activemq-quarkus.png
  .gitbook/assets/consumer-hazelcast-quarkus.png
  .gitbook/assets/consumer-kafka-quarkus.png
  .gitbook/assets/consumer-rabbitmq-quarkus.png
  .gitbook/assets/consumer-redis-quarkus.png
  .gitbook/assets/jaxrs-activemq-quarkus.png
  .gitbook/assets/jaxrs-hazelcast-quarkus.png
  .gitbook/assets/nginx.png
  .gitbook/assets/postmannewman.png
  .gitbook/assets/producer-kafka-quarkus.png
  .gitbook/assets/randompublish-quarkus.png
  .gitbook/assets/scheduled-quarkus.png
  .gitbook/assets/top.png
  README.md
  application/README.md
  kubernetes/README.md
  kubernetes/monitoring/grafana/README.md
  kubernetes/monitoring/jenkins/README.md
Labels: docs, java, kubernetes

fix(postgres): mount volume at /var/lib/postgresql for v18+
  kubernetes/postgres/postgres-deployment.yaml
Labels: kubernetes

fix(mysql): set fsGroup so mysql user can write data directory
  kubernetes/mysql/mysql-deployment.yaml
Labels: kubernetes

fix(mongodb): set fsGroup so mongodb user can write data directory
  kubernetes/mongodb/mongodb-deployment.yaml
Labels: kubernetes

fix(mongodb): chown data dir via initContainer (fsGroup fails on hostPath)
  kubernetes/mongodb/mongodb-deployment.yaml
Labels: kubernetes

fix(mysql): chown data dir via initContainer (fsGroup fails on hostPath)
  kubernetes/mysql/mysql-deployment.yaml
Labels: kubernetes

fix(postgres): chown data dir via initContainer for hostPath PV
  kubernetes/postgres/postgres-deployment.yaml
Labels: kubernetes

fix(readme): restore JVM badge to 17 and bump Quarkus badge to 3.37.1
  README.md
Labels: docs

check-for-update-minikube automated change
  README.md
Labels: docs

fix(cassandra): mount PV at data dir and chown via initContainer
  kubernetes/cassandra/cassandra-statefulset.yaml
Labels: kubernetes

fix(ci): scope check-for-update README sed to each badge
  .github/workflows/check-for-update.yml
Labels: cicd, github-action

fix(kafka,zookeeper): pull images from bitnamilegacy repo
  kubernetes/kafka/kafka-statefulset.yaml
  kubernetes/zookeeper/zookeeper-statefulset.yaml
  renovate.json
Labels: kubernetes

fix(cassandra): add startupProbe so liveness waits for slow startup
  kubernetes/cassandra/cassandra-statefulset.yaml
Labels: kubernetes

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*
