Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*

delete install kubectl #3140
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cicd, docs, github-action

move actions/checkout #3140
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

change output type to yaml #3140
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

update kubectl version #3140
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

add env. #3140
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

Update kind-chaos-mesh-ci.yml
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

add version v #3140
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

Update kind-chaos-mesh-ci.yml
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

move kubectl install steps #3140
  .github/workflows/kind-chaos-mesh-ci.yml
Labels: cicd, github-action

check-for-update-chaos-mesh automated change
  .github/workflows/kind-chaos-mesh-ci.yml
  README.md
Labels: cicd, docs, github-action

check-for-update-kubernetes automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

delete vulnerabilities check for jenkins image #3049
  .github/workflows/docker-image-ci.yml
Labels: cicd, github-action

update codebeat badge
  README.md
Labels: docs

fix: kubernetes/monitoring/test/ab/Dockerfile to reduce vulnerabilities
  kubernetes/monitoring/test/ab/Dockerfile
Labels: kubernetes

fix: application/jaxrs-hazelcast-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-hazelcast-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-hazelcast-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-hazelcast-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

check-for-update-kubernetes automated change
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
  .github/workflows/minikube-yaml-ci.yml
  README.md
Labels: cicd, docs, github-action

delete codiga
  README.md
Labels: docs

Revert "fix(deps): update dependency com.datastax.oss.quarkus:cassandra-quarkus-bom to v1.2.0"
  application/jaxrs-cassandra-quarkus/pom.xml
Labels: java, quarkus

Update pom.xml
  application/jaxrs-cassandra-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/consumer-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/consumer-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: application/jaxrs-activemq-quarkus/pom.xml to reduce vulnerabilities
  application/jaxrs-activemq-quarkus/pom.xml
Labels: java, quarkus

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes

fix: kubernetes/mysql/Dockerfile to reduce vulnerabilities
  kubernetes/mysql/Dockerfile
Labels: kubernetes

check-for-update-quarkus automated change
  README.md
Labels: docs

check-for-update-chaos-mesh automated change
  .github/workflows/kind-chaos-mesh-ci.yml
  README.md
Labels: cicd, docs, github-action

fix: kubernetes/postgres/Dockerfile to reduce vulnerabilities
  kubernetes/postgres/Dockerfile
Labels: kubernetes

fix: kubernetes/monitoring/test/cypress/package.json & kubernetes/monitoring/test/cypress/package-lock.json to reduce vulnerabilities
  kubernetes/monitoring/test/cypress/package-lock.json
  kubernetes/monitoring/test/cypress/package.json
Labels: kubernetes

fix: kubernetes/nginx/Dockerfile to reduce vulnerabilities
  kubernetes/nginx/Dockerfile
Labels: kubernetes
