Repository yurake/k8s-3tier-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, docs, github-action, java, javascript, kubernetes, quarkus

change args #3025
  .github/workflows/java-ci.yml
Labels: cicd, github-action

change args #3025
  .github/workflows/java-ci.yml
Labels: cicd, github-action

add args to properties #3025
  application/randompublish-quarkus/src/main/resources/application.properties
Labels: java

add args to properties #3025
  application/randompublish-quarkus/src/main/resources/application.properties
Labels: java

add args to properties #3025
  .github/workflows/java-ci.yml
Labels: cicd, github-action

revert add args to properties #3025
  .github/workflows/java-ci.yml
  application/randompublish-quarkus/src/main/resources/application.properties
Labels: cicd, github-action, java

delete unpassed test cases #3025
  application/jaxrs-grpc-quarkus/src/test/java/webapp/tier/resource/GrpcResourceIT.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/IdServiceIT.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/MsgServiceIT.java
Labels: java

fix test error #3025
  application/jaxrs-grpc-quarkus/src/test/java/webapp/tier/resource/GrpcResourceIT.java
  application/randompublish-quarkus/src/test/java/webapp/tier/resource/RandomResourceIT.java
Labels: java

Method testGetMsg should be package-private #3025
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/IdServiceTest.java
  application/server-grpc-quarkus/src/test/java/webapp/tier/grpc/MsgServiceTest.java
Labels: java

Migrate to minikube official github actions #2830
  .github/workflows/check-for-update.yml
  .github/workflows/minikube-quarkus-ci.yml
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
Labels: cicd, github-action

add pr trigger
  .github/workflows/kind-quarkus-ci.yml
Labels: cicd, github-action

add minikube start options #2830
  .github/workflows/minikube-quarkus-ci.yml
Labels: cicd, github-action

migrate to minikube official github actions #2830
  .github/workflows/minikube-security-ci.yml
  .github/workflows/minikube-stress-ci.yml
Labels: cicd, github-action

md file formatting #3016
  README.md
  SECURITY.md
  SONARCLOUD.md
  SUMMARY.md
  application/consumer-activemq-quarkus.md
  application/consumer-hazelcast-quarkus.md
  application/consumer-kafka-quarkus.md
  application/consumer-rabbitmq-quarkus.md
  application/consumer-redis-quarkus.md
  application/converter-kafka-quarkus.md
  application/converter-rabbitmq-quarkus.md
  application/jaxrs-activemq-quarkus.md
  application/jaxrs-cassandra-quarkus.md
  application/jaxrs-grpc-quarkus.md
  application/jaxrs-hazelcast-quarkus.md
  application/jaxrs-kafka-quarkus.md
  application/jaxrs-memcached-quarkus.md
  application/jaxrs-mongodb-quarkus.md
  application/jaxrs-mysql-quarkus.md
  application/jaxrs-postgres-quarkus.md
  application/jaxrs-rabbitmq-quarkus.md
  application/jaxrs-redis-quarkus.md
  application/parent-pom.md
  application/producer-kafka-quarkus.md
  application/randompublish-quarkus.md
  application/scheduled-quarkus.md
  application/server-grpc-quarkus.md
  application/webapp-service.md
Labels: docs, java

md file formatting #3016
  README.md
  SECURITY.md
  SONARCLOUD.md
  SUMMARY.md
  application/README.md
  kubernetes/README.md
Labels: docs, java, kubernetes

add egnore markdown lint for codeclimate #3016
  .codeclimate.yml
Labels: none

md file formatting #3016
  SUMMARY.md
Labels: docs

md file formatting #3016
  kubernetes/monitoring/tempo/README.md
Labels: docs, kubernetes

md file formatting #3016
  SUMMARY.md
Labels: docs

md file formatting #3016
  SUMMARY.md
Labels: docs

add igrnoe md file
  .github/workflows/java-ci.yml
Labels: cicd, github-action

Incorrect list-item indent: add 2 spaces #3016
  SECURITY.md
  SUMMARY.md
  kubernetes/monitoring/tempo/README.md
Labels: docs, kubernetes

disable MD009
  .codeclimate.yml
Labels: none

delete \\ #3016
  README.md
Labels: docs

disable MD013 #3016
  .codeclimate.yml
Labels: none

migrate minikube official github actions #2830
  .github/workflows/check-for-update.yml
  .github/workflows/minikube-yaml-ci.yml
Labels: cicd, github-action

Avoid unnecessary return statements #3016
  application/jaxrs-mysql-quarkus/src/test/java/webapp/tier/resource/MysqlResourceTest.java
  application/jaxrs-mysql-quarkus/src/test/java/webapp/tier/service/MysqlServiceTest.java
  application/jaxrs-postgres-quarkus/src/test/java/webapp/tier/resource/PostgresResourceTest.java
  application/jaxrs-postgres-quarkus/src/test/java/webapp/tier/service/PostgresServiceTest.java
Labels: java

Unnecessary use of fully qualified name #3016
  application/jaxrs-kafka-quarkus/src/test/java/webapp/tier/resource/KafkaResourceTest.java
Labels: java

Update README.md
  README.md
Labels: docs

disabel markdown check MD030 #2804
  .codeclimate.yml
Labels: none

disable markdown check MD002 #2804
  .codeclimate.yml
Labels: none

refactor docs for codeclimate #2804
  README.md
  kubernetes/monitoring/README.md
  kubernetes/monitoring/grafana/README.md
Labels: docs, kubernetes

formatting #2804
  kubernetes/jaeger/README.md
Labels: docs, kubernetes

formatting #2804
  kubernetes/monitoring/optional/tekton/README.md
Labels: docs, kubernetes

formatting #2804
  kubernetes/monitoring/optional/argo/README.md
Labels: docs, kubernetes

formatting #2804
  kubernetes/monitoring/loki/README.md
Labels: docs, kubernetes

disable markdown check MD029 #2804
  .codeclimate.yml
Labels: none

delete unusable variables
  application/jaxrs-postgres-quarkus/src/main/java/webapp/tier/service/PostgresService.java
  application/jaxrs-postgres-quarkus/src/main/resources/application.properties
Labels: java

Trailing punctuation in header #2804
  kubernetes/jaeger/README.md
Labels: docs, kubernetes

fix too many instance variables #3049
  application/jaxrs-mysql-quarkus/src/main/java/webapp/tier/service/MysqlService.java
  application/jaxrs-mysql-quarkus/src/main/resources/application.properties
Labels: java

.github/labeler.yml:

cicd:
  - .github/**/*
docs:
  - docs/**/*
  - "**/*.md"
github-action:
  - .github/**/*
java:
  - application/**/*
javascript:
  - application/**/*.js
kubernetes:
  - kubernetes/**/*
quarkus:
  - application/*-quarkus/*
